body{
    margin: 0;
    background-color: aquamarine;
}
.description{
    font-size: small;
    color: blue;
}
.title{
    text-align: center;
}
.imagen{
    width: 500px;
    height: 500px;
    margin-bottom: 0;
    margin-left: 200px;
    border-radius: 25%;
}
.subtitle{
    font-weight: bold;
}
